.main_contact{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.contact_cont{
    width:80vw;
    display: flex;
    justify-content: space-around;
}
.contact_form{
    width: 60%;
}
.contact_form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact_data{
    width: 30%;
}
.cont_img img{
    width: 100%;
}
.contact_form input{
    height: 50px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    padding-left: 2rem;
}
@media(max-width:1042px){
    .contact_form{
        width: 100%;
        
    }
    .contact_form div{
        margin-top: 5rem;
    }
    .contact_data{
        text-align: center;
        width: 100%;
    }
    .cont_img img{
        width: 50%;
    }
    .contact_cont{
        flex-direction: column;
    }

}